* {
	margin: 0px;
	padding: 0px;
}

.container {
}

.container .search form {
	width: 60%;
	margin: 260px auto;
}

.container .search form #search_box_input01 {
	width: 70%;
	border: 1px black solid;
	height: 43px;
	border-radius: 50px;
	padding-left: 17px;
	font-size: 20px;
	float: left;
}

.container .search form input[type="submit"] {
	height: 45px;
	width: 20%;
	margin-left: 40px;
	background: #00587A;
	border-radius: 2px;
	border: none;
	color: white;
	font-size: 18px;
	border-radius: 50px;
}

.container .search form input[type="submit"]:hover {
	background: white;
	border: 1px solid #00587A;
	color: #00587A;
}

.container .search .result_search {
	/*border-top: 5px solid blue;*/
	border-right: 1px solid #00587A;
	border-left: 1px solid #00587A;
	border-bottom: 1px solid #00587A;
	/*border: 1px solid red;*/
	margin-left: 20px;
	width: 67%;
}

.container .search .result_search div {
	margin: 10px 0 10px 10px;
}

.container .search #test div{
}