* {
	margin: 0px;
	padding: 0px;
}

.container {
}

.container form {
	height: 400px;
	width: 700px;
	margin: 100px auto;
}

.container form .search_box01 {
	/*margin: 100px auto;*/
	width: 100%;
	border: 1px black solid;
	height: 43px;
	border-radius: 50px;
	padding-left: 5px;
}

.container form .search_box01 input{
	/*margin: 100px auto;*/
	width: 90%;
	border: 0px red solid;
	/*border: none;*/
	height: 38px;
	font-size: 18px;
	padding-left: 10px;
	border-radius: 50px;
	float: left;
	margin-right: 15px;
}

.container form .search_box01 .img {
	margin: 5px 0 0 10px;	
}

.container .add_search_box {
	height: 80px;
	width: 80px;
	background: #dedede;
	margin-top: 20px;	
	box-shadow: #a1a1a1 0px 0px 4px 0px;

}

.container form input[type="submit"] {
	height: 35px;
	width: 180px;
	background: #00587A;
	border-radius: 2px;
	border: none;
	color: white;
	font-size: 17px;
	margin: 40px auto;
}