@charset "utf-8";
/* CSS Document */

*{	margin:0px; 
	padding:0px;}

.container01{
  width: 100%;
  height: 50px;
  background-color: #0F3057;
  position: fixed;
}
.container01 .ul{
    width: 70%;
    margin: 0 auto;
    height: 50px;
}
.container01 ul li{
  list-style:none ;
  float: left;
  color: #fff;
}
.container01 ul li a{
  text-transform: uppercase;
  white-space: nowrap;
  padding: 0 10px;
  color: #fff;
  display: block;
  text-decoration: none;
}
/*CSS Style cho Submenu*/
.container01 ul li ul {
  position: absolute;
  width: auto;
  display: none;
  background-color: #0F3057;
  border-bottom: 3px solid #0082bb;
  padding-left: 5px;
}

.container01 .ul .search_box{
  float: right;
}

.container01 .ul .search_box input{
  margin-top: 6px;
  height: 35px;
  width: 200px;
  border-radius: 3px;

}

.container01 .ul .search_box img{
  margin-top: 5px;
}

.container01 ul li ul li{
  top:10px;
  width:250px;
  display: block;
  padding:10px;
  margin: auto;
  float: none; /*Bỏ float cho li cấp thứ 2*/
}
/* Hover cho submenu */
.container01 ul li:hover {
  /* Hover thì li sẽ đổi màu*/
  background-color:#0F3057 ;
}
.container01 ul li:hover ul{
  /*Display ra submenu*/
  display: block;
}

