*{
	margin: 0px;
	padding: 0px;
}
body {
	/*background: #fff;*/
	color: #222;
	background: #dfdfdf;
	/*background: red;*/
	font-family: Arial, Tahoma, Verdana, sans-serif;
	font-size: 12px;
	line-height: 1.6;
	margin: 0;
	padding: 0;
	position: relative;

	/*text-align: center;*/
	/*overflow: hidden;*/

}
.menu_header{
	background: #00587A;
	border-bottom: 0px solid #333;
	color: #fff;
	height: 40px;
	line-height: 60px;
	text-align: center;
	position: fixed;
	padding: 0;
	top: 0;
	left: 0;
	width: 100%;
	box-shadow:#000 0px 0px 4px 0px;

}

.container{
	padding: 200px 20px 70px 20px;
	margin: 0px auto 0px;
	padding-top: 41px;
	width: 70%;
	background: white;
	min-height: 630px;
}
.menu_header ul {
	width: 60%;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #00587A;
}

.menu_header li {
    float: left;
    text-align: left;
    padding: 0 0px;
}

.menu_header #logout{
	float: right;
	width: 140px;
}
.menu_header #logout span{
	float: left;
	height: 40px;
	line-height: 43px;
	margin-right: 20px;
	font-size: 14px;
}

.menu_header #logout a:hover{
	color: #b8b8c1;
}

.menu_header li a {
    display: block;
    color: white;
    padding: 0px 16px;
    height: 40px;
    text-decoration: none;
    line-height: 43px;
   	font-weight: 500;
   	font-size: 14px;
}

.menu_header li #categorys:hover {
    background-color: #111;
}