*{
	margin: 0px;
	padding: 0px;
}

body{
	background-color: #E7E7DE; 
}

.login_container{
	margin: 30px;
}

.login_container h2{
	color: #0F3057;
	font-family: sans-serif;
}

.login_container .form_login{
	margin: 20px;
}

.login_container .form_login input{
	margin-bottom: 12px;
	height: 28px;
	width: 230px;
	padding-left: 10px;
	border: 0px;
	box-shadow:#000 0px 0px 2px 0px;
	border-radius: 2px;
}

.login_container .form_login #dang_nhap{
	width: 120px;
	height: 35px;
	padding-left: 0px;
	background-color: #00587A;
	color: white;
	border: 0px;
	box-shadow:#000 0px 0px 0px 0px;
	font-weight: 700;
	font-size: 15px;
	font-style: unset;
}

.login_container .form_login #dang_nhap:hover{
	background: #008891;
}
/*footer*/

.footter{
	text-align: center;
	color: #0F3057;
	margin: auto;
	padding: 20px;
	padding-top: 300px;
	float: bottom;
}

.check_login {
	font-style: italic;
	color: red;
	margin-bottom: 10px;
}