*{
	margin: 0px;
	padding: 0px;
}
body{
	background: #E7E7DE;
}

.container01 {
	margin-left: 23.5px;
}

.container01 #quanly {
	text-align: left;	
	font-size: 25px;
	margin-bottom: 30px;
	border-bottom: 2px #00587A solid;
	width: 600px;
	/*box-shadow:#000 0px 0px 4px 0px;*/
}

.container01 form input {
	height: 28px;
	width: 250px;
	padding-left: 10px;
	border: 0px;
	border-radius: 2px;
}

.container01 form {
	margin: 0px 0 0 20px;
	text-align: left;
	background: white;
}

.container01 form .input {
	background: white;
	margin-bottom: 15px;
	border: 1px solid #0F3057;
	padding-left: 10px;
	height: 26px;
	width: 200px;
	border-radius: 2px;
}

#them:hover{
	background: #008891;
	border: 0px;
	border: 1px solid #0F3057;
}

#them{
	background: #0F3057;
	border: 1px solid #0F3057;
	color: white;
	font-size: 16px;
	height: 35px;
	padding: 0px;
	width: 100px;
}

#them:disabled{
	background: gray;
}
/**/

.footter{
	text-align: center;
	color: #0F3057;
	margin: auto;
	padding: 20px;
	padding-top: 200px;
	float: bottom;
}
